<div fxLayout="column" fxLayoutAlign="center center" fxFlex="100" class="login-container">

  <div style="min-width: 300px; width: 25%">
    <div fxLayout="row" fxLayoutAlign="start center">
      <h1 class="login-header">Change password</h1>
    </div>

    <form fxLayout="column" [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <div>
        <mat-form-field appearance="outline" class="material-full-width">
          <mat-label>Enter your new password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">Password is required</mat-error>
        </mat-form-field>
      </div>

      <div>
        <button [disabled]="loginForm.invalid || isLoading" type="submit"
                class="main-button" fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'loading': isLoading}">
          <span *ngIf="!isLoading">CHANGE PASSWORD</span>
          <span *ngIf="isLoading"><mat-spinner [diameter]="40"></mat-spinner></span>
        </button>
      </div>
      <p class="no-account">Changing the password will sign you out. Please sign in with new password then.</p>
    </form>
  </div>
</div>
